.App {
  display: block;
  height: 52px;
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center center;
  text-align: center;
  background-color: #E8F5E9;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#abacus-logo {
  margin: 4em 0;
}


.hi {
  margin-top: 1em;
  padding: 3em;
}
