.App {
  display: block;
  height: 52px;
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center center;
  text-align: center;
  background-color: #E8F5E9;
  font-family: 'MuseoModerno', cursive;
}

#abacus-logo {
  margin-top: 4em;
}


.hi {
  padding: 3em;
}
span {
  text-decoration: underline;
}
