.App {
  display: block;
  height: 52px;
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center center;
  text-align: center;
  background-color: #E8F5E9;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#abacus-logo {
  align-content: center;
  margin-top: 5em;
}

svg {
  position: sticky;
}